<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="utf-8" />
      <file type="log4net.Util.PatternString-0" value="log\\%date{yyyy-MM-dd-2728-237-059}.txt" />
	  <file type="log4net.Util.PatternString-1" value="log\\%date{yyyy-MM-dd-3012-845-687}.txt" />
	  <file type="log4net.Util.PatternString-2" value="log\\%date{yyyy-MM-dd}.txt" />
	  <file type="log4net.Util.PatternString-3" value="log\\%date{yyyy-MM-dd}.txt" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="yyyy-MM-dd&quot;.txt&quot;" />
      <appendToFile value="true" />
      <rollingStyle value="Date"/>
      <RollingStyle value="Size" />
      <MaxSizeRollBackups value="10" />
      <maximumFileSize value="2MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{yyyy-MM-dd HH:mm:ss}] %-5level - %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>